<nav class="navbar navbar-expand-lg bg-body-tertiary bg-warning ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/catalogue">
            <h1>Ng Pokemons |</h1>
        </a>
        <ng-container *ngIf="user!==undefined">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link " routerLink="/catalogue">
                            <h6>Catalogue</h6>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link " routerLink="/trainer">
                            <h6>Trainer</h6>
                        </a>
                    </div>
                     <!-- <div class="nav-item">                    
                        <button class="btn btn-sm btn-link nav-link " type="submit" (click)="handleLogout()">
                            <h6>Log out</h6>
                        </button>
                    </div> -->
                </div>
            </div>
        </ng-container>
    </div>
</nav>