<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="row card p-3 shadow">
    <form #loginForm="ngForm" class="" (ngSubmit)="loginSubmit(loginForm)">
        <fieldset>
            <input type="text" 
                    ngModel 
                    required
                    maxlength="20"
                    #username="ngModel" 
                    name="username" 
                    id="username" 
                    class="form-control mb-2"
                    placeholder="Johen "/>
        </fieldset>
        <div class=" p-2" *ngIf="username.errors && (username.dirty ||username.touched)">
            <p>Username must be filled and max. 20 charachters</p>
        </div>
        <button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-primary ">Login</button>
        <div class=" p-2" *ngIf="login">
            <p *ngIf="logingIn">Logging in...</p>

        </div>
    </form>
</div>
</div>